@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: 120px;
}
p {
  font-family: 'Lora', serif;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}